.G-frame {
	&Wrapper {
		background: @varColorWhite;
	}

	// 2种宽度自适应
	&Head, &Body {
		width: 100%;
		margin: 0 auto;
	}
	&WideScreen {
		.G-frameWrapper{
			min-width: 1200px;
		}
		.G-frameHead, .G-frameBody {

		}
	}

	// 顶部内容
	&Head {
		height: @varHeadHeight;
		padding-bottom: 0px;

		ul {
			margin: 0;
			padding: 0;
		}

		&Wrapper {
			background: @varBackground;
			width: 100%;
			z-index: @varZIndexHeader;
			position: relative;
		}
	}

	&Body {
		position: relative;
		background: @varColorWhite;
		margin: 0px auto;

		&Menu {
			float: left;
			width: 200px;
			color: #7A7979;
			font-size: 13px;

			position: absolute;
			left: 0;
			top: 0;
			background: @varBackground;
			box-shadow: 1px 0px 6px rgba(0,0,0,0.3);
			z-index: 99;

			&.act {
				display: none;
			}

			&Flex {
				position: absolute;
				display: none;
				top: 0;
				height: 100%;
				width: 20px;
				background: #202c33;
				z-index: 100;
				cursor: pointer;
				&.act {
					display: block;
				}

				&Icon {
					position: absolute;
					top: 50%;
					left: 2px;
					color: #fff;
					font-size: 20px;
					width: 20px;
					height: 20px;
					display: inline-block;
				}
				.angle_double_left {
					background: url(../images/angle_double_left.png) no-repeat;
				}
				.pin {
					background: url(../images/pin.png) no-repeat;
				}
			}

			&ListWrapper {
				min-height: 0 !important;
			}

			&Block {
				display: none;
			}

			&Group {
				strong {
					display: block;
					font-size: 12px;
					text-indent: 0;
					border-bottom: 0.1em solid #0f171a;
					font-weight: normal;
					color: #737373;
					height: 30px;
					line-height: 30px;
					text-indent: 22px;
				}

				ul {
					margin: 0;
					padding: 0;
				}

				li {
					padding: 0;
					text-align: left;
					position: relative;
					height: 30px;
					line-height: 30px;

					&.act {
						background: #000;

						i {
							width: 5px;
							height: 30px;
							background: @varSheme;
							display: inline-block;
							vertical-align: bottom;
							position: absolute;
							left: 0;
							top: 0;
						}
					}

				}

				a {
					color: #d6d6d6;
					text-decoration: none;
					display: block;
					text-indent: 32px;
					position: relative;
				}

				a:hover {
					color: @varColorWhite;
					background: #202c33;
				}
				.act a {
					color: @varColorWhite;
					background: #000000;
				}
			}

			&Footer {
				background: #000000;
				line-height: 30px;
				text-align: center;
				height: 30px;
				color: #444;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}

		&Main {
			position: relative;

			zoom: 1;
			margin-left: 200px;
			// margin-right: 200px;
			background: @varColorWhite;
			// padding: 20px;
			min-height: 0 !important;

			// &Wrapper {
			// 	float: left;
			// 	width: 100%;
			// }

			// &:after{
			// 	content: " ";
			// 	display: table;
			// 	clear: both;
			// }

			&.act_left {
				margin-left: 0;
			}
			&.act_right {
				margin-right: 0;
			}
		}

		&Content {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		// &MsgWrap {
		// 	position: absolute;
		// 	left: 3px;
		// 	right: 3px;
		// 	top: 2px;
		// 	height: 32px;
		// 	line-height: 32px;
		// 	box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
		// 	z-index: 100;
		// }

		&Tools {
			width: 200px;
			background: @varBackgroundBodyTitle;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			font-size: 13px;
			border-left: 1px solid #dfdfdf;
			z-index: 99;

			&.act {
				display: none;
			}

			&Flex {
				position: absolute;
				display: none;
				right: 0px;
				top: 0;
				height: 100%;
				width: 20px;
				background: #d9d9d9;
				z-index: 100;
				cursor: pointer;
				i {
					position: absolute;
					top: 50%;
					right: 4px;
					color: #444;
				}
				&.act {
					display: block;
				}
			}

			&Content {
				&Wrapper {
					height: 100%;
				}
			}
		}

		&Title {
			clear: both;
			z-index:1;
			height:46px;
			position:relative;

			&Text {
				float: left;
				color: #3A3A3A;
				font-family: @varFontSans;
				font-size: 18px;
				height: 40px;
				line-height: 40px;
				cursor: default;
				display: inline-block;
			}

			&Crumbs{
				//fl;
				display: inline-block;
				color: #7E7E7E;
				font-family: @varFontSans;
				font-size: 13px;
				height: 40px;
				line-height: 40px;


				cursor: default;
			}
		}

		&Full {
			.G-frameBodyMenu {
				display: none;
			}
			.G-frameBodyTools {
				display: none;
			}
			.G-frameBodyContent {
				border: none;
				box-shadow: none;
				margin-left: 0;
				margin-right: 0;
			}
		}

		&Container{
			position: relative;
			padding: 20px;
		}

		&Sidebar{
			width: 200px;
			background: @varColorGrayLightest;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			font-size: 13px;
			border-left: 1px solid #dfdfdf;
			z-index: 99;

			&.act {
				display: none;
			}

			&Flex {
				position: absolute;
				display: none;
				right: 0px;
				top: 0;
				height: 100%;
				width: 20px;
				background: #d9d9d9;
				z-index: 1101;
				cursor: pointer;
				i {
					position: absolute;
					top: 50%;
					right: 4px;
					color: #444;
				}
				&.act {
					display: block;
				}
				&Icon {
					position: absolute;
					top: 50%;
					left: 2px;
					color: #fff;
					font-size: 20px;
					width: 20px;
					height: 20px;
					display: inline-block;
				}
				.angle_double_right {
					background: url(../images/angle_double_right.png) no-repeat;
				}
				.pin {
					background: url(../images/pin.png) no-repeat;
				}
			}

			&Wrapper {
				height: 100%;
				// padding: 20px 15px;
			}
			&Content {
			}
		}

		// 有侧边栏，有选项卡的情况
		&Tab{
			margin-top: 26px;
			margin-left: 20px;
			min-height: 34px;
		}
	}

	&PopGridOpenBtn {
		position: fixed;
		right: 30px;
		bottom: 20px;
		z-index: 91;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 18px;
		color: #fff;
		background: #999;
		#lib .vendor(border-radius, 50%);
		&:hover {
			background: #666;
			color: #fff;
		}
	}
}

.G-frameScenes {
	display: none;
}